@{
    ViewBag.Title = "Partial Nav bar";
}
@using IdeallyConnected.Components;
@model LayoutMenuItemManager

    <ul class="nav navbar-nav">
        @foreach(LayoutMenuItem item in Model.Menus) {
                <li>
                    @if(item.Menus.Count == 0) {
                <a href="@item.Action">@item.Title</a>
                    }
                    else {
                    <a href="@item.Action"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        @item.Title&nbsp;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach(LayoutMenuItem subitem in item.Menus) {
                    <li>
                        <a href="@subitem.Action">@subitem.Title</a>
                    </li>
                        }
                    </ul>
                    }
                </li>
        }
    </ul>
