@*model IdeallyConnected.Models.Repositories.Repository<IdeallyConnected.Models.Software>
*@
@using IdeallyConnected.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Pinglocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Model.Add(new Software { Id = "Micosoft",Type = SoftwareTypes.OperatingSystem });
    List<ApplicationUser>.Enumerator uenum = Model.GetEnumerator();
    Dictionary<String,SoftwareTypes> SoftwareDictionary = new Dictionary<String,SoftwareTypes>()
            {
                    { "Visual Studio", SoftwareTypes.TextEditor },
                    { "OSX", SoftwareTypes.OperatingSystem },
                    { "Notepad++", SoftwareTypes.TextEditor }
            };
    if(uenum.MoveNext()) {
        uenum.Current.Software.AddRange((SoftwareDictionary
                                .Select(st => new Software() { Id = st.Key,Type = st.Value }).ToList()));
        
    }
}

<h2>Pinglocation</h2>
<h6>@Model.Count</h6>

<br />

@foreach(var u in Model)
{
    <li>@u.UserName</li>
    foreach(var s in u.Software)
    {
        <td>@s.Id - @s.Type</td>
        <br/>
    }
    <li>@u.ProgrammingLanguages</li>
}

@using(Html.BeginForm("Details","pinglocation",FormMethod.Post,new { @class = "form-horizontal",role = "form" })) {
@Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("",new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.GetEnumerator().Current.Software,new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GetEnumerator().Current.Software,new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Details" />
        </div>
    </div>
}